.porta {
    display: flex;
    flex-direction: column;

    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    background-color: chocolate;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    

}